site_name: {{cookiecutter.project_name}}
site_url: https://{{cookiecutter.github_username}}.github.io/{{cookiecutter.project_slug}}
site_description: {{cookiecutter.project_short_description}}
site_author: {{cookiecutter.full_name}}
site_dir: html
repo_name: {{cookiecutter.github_username}}/{{cookiecutter.project_slug}}
repo_url: https://github.com/{{cookiecutter.github_username}}/{{cookiecutter.project_slug}}

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_submodules: true
            show_if_no_docstring: true
            modernize_annotations: true
            separate_signature: true
            docstring_section_style: list
  - awesome-pages
  - gen-files:
      scripts:
        - gen_pages.py

theme:
  name: material
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: blue
    accent: amber
  atures:
  - search.suggest
  - search.highlight
  - content.tabs.link
  icon:
    repo: fontawesome/brands/github-alt
  #logo: img/logo.svg
  #favicon: img/favicon.png
  language: en

nav:
  - index.md
  - ... | glob=readme.md
  - reference.md
  - ... | regex=scenarios/.+.md
  - tests.md
