[flake8]
#ignore = E203, E266, E501, W503, T499, ANN101, ANN102, ANN002, ANN003, S101, SCS108 
ignore = E501,SCS109
max-line-length = 79
enable-extensions=G
#select = B,C,E,F,W,T4,T0,N8,DC,DAR,SCS
import-order-style = google
docstring-convention = google
per-file-ignores = tests/*:S101, SCS108
max-complexity = 10
exclude =
    docs/
    .git
    .nox
    __pycache__
    docs/source/conf.py
    old
    build
    dist
