import pytest


@pytest.mark.skip(reason="not yet implemented")
def test_<rule_id>_<id>() -> None:
    """
    Given <initial context>
    When <event or action>
    Then <observable outcome>
    """
    raise NotImplementedError