name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        apt-get update && apt-get install -y python3-pip
        pip3 install cookiecutter
    - name: Generate project files with cookiecutter
      run: cookiecutter --no-input .
    - name: Move into the project
      run: cd python-project-template
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
